:root {
    --color-bg-dark: #1a1a1a;      
    /* Fondo general claro lila suave */ 
    --color-bg-section: #242323;     
    /* Fondo secciones más claro */ 
    --color-surface-light: #afa8be;  /* Superficies claras (tarjetas, paneles) */ 
    --color-accent: #8b5cf6;         
    /* Acento principal (lila moderno) */ 
    --color-accent-alt: #9873ee77;     
    /* Acento secundario (turquesa suave) */ 
    --color-text-main: #f0f0f0;      
    /* Texto principal oscuro */ 
    --color-accent-shadow: rgba(139, 92, 246, 0.5);   
    /* Sombra suave lila basada en el color-accent */ 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* tamaño de las cajas además del contenido incluya padding */   
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-bg-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    width: 95%;
}

.mi_header {
    background-color: var(--color-bg-section);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 3px solid var(--color-accent);
    padding: 0 40px;
}

.logo {    
    display: flex;
    align-items: center;
    padding: 20px 0;
    color: var(--color-text-main);
}

.mi_nav {
    display: flex;   
    align-items: center;
}

.mi_nav ul {    
    display: flex;       
    gap: 20px;
}

.mi_nav li {
    list-style: none;
}

.mi_nav a {
    text-decoration: none;
    color: var(--color-text-main);        
    font-size: 0.95.rem;
}

.mi_nav a:hover {
    color: var(--color-accent);
    transition: color ease 0.3s; 
}


/* Meter comentarios ...!!!*/
.section_1 {
    background-color: var(--color-bg-section);
    padding: 30px 24px;
    color: var(--color-text-main);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;  /* Alineación horizontal (en el eje principal) */
    align-items: center; /* Alineación vertical  */
    gap: 30px;
    margin-top: 24px;
    border-radius: 16px;
}

.registro {
    background-color: var(--color-bg-dark);    
    flex: 0 0 320px;
    border: 2px solid var(--color-accent);
    padding: 25px;
    border-radius: 10px;
}

.texto_inicio p {
    margin-top: 15px;
    font-size: 0.9rem;
    color: var(--color-surface-light);
}

.registro h3 {
    margin-bottom: 10px;
}

.registro label {
    color: var(--color-surface-light);
    font-size: 0.8rem;
}

.registro input {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 3px;
    background-color: var(--color-bg-section);
    border: 1px solid var(--color-accent);
    color: var(--color-text-main);
    padding: 8px;
    border-radius: 6px;

}

.registro input::placeholder {
    color: var(--color-accent-alt);
}

.registro input[type="submit"] {
    background-color: var(--color-accent);
    color: var(--color-bg-section);
    font-weight: bold;
    font-size: 0.9rem;
}


/* Sección 2 */
.section_2 {
    background-color: var(--color-bg-section);
    margin-top: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_contenedor_tarjetas {
    width: 70%;
    color: var(--color-text-main);
    border-bottom: 3px solid var(--color-accent);
    text-align: center;
    padding-bottom: 10px;
    margin-top: 30px;

}

.contenedor_tarjetas {
    margin-top: 20px;
    width: 70%;    
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.tarjeta {    
    background-color: var(--color-surface-light);
    border: 1px solid var(--color-accent);
    border-radius: 12px;
    flex: 1 0 30%;
    padding: 15px;
    color: var(--color-bg-dark);
    text-align: center;
    box-shadow: 5px 5px 8px 2px var(--color-accent-shadow); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.tarjeta:hover {
    transform: translateY(-5px); /* Efecto visual */ 
    border-color: #00ff88;
}

.tarjeta img {
    width: 100%;
}

.tarjeta p:last-of-type {
    font-size: 0.9rem;
}

.tarjeta a {    
    background-color: var(--color-accent);
    padding: 10px 0;
    border-radius: 6px;
    text-decoration: none;
    color: var(--color-bg-section);
    font-weight: bold;
}

.tarjeta a:hover {
    background-color: var(--color-accent-alt);
}    

.tarjeta p:first-of-type {
    color: var(--color-accent);
}

footer {
    color: var(--color-text-main);
    display: flex;
    justify-content: center;
    background-color: var(--color-bg-section);
    margin-top: 40px;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: var(--color-accent);
}

